.PersonContactData {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}
.Contacts {
    margin: 0 0 10px 25px;
}
.Edit,
.Delete {
    padding: 5px 15px;
    margin-right: 15px;
}
.DeleteIcon,
.EditIcon,
.PhoneIcon,
.EmailIcon {
    font-size: 18px;
    margin-right: 5px;
}