.Container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.FormRow {
    margin-bottom: 15px;
}
.Input {
    padding: 5px;
}
.PersonPhoto {
    width: 80px;
    height: 80px;
}
.personPhotoBlock {
    display: flex;
    flex-wrap: wrap;
}
.PrevImgTitle {
    padding-right: 15px;
    margin: 0;
}
.send {
    margin-right: 15px;
}
.send,
.back {
   padding: 5px 10px;
}